<div >
      <div class="flex flex-col flex-auto flex-shrink-0 min-h-screen antialiased text-black bg-white dark:bg-gray-700 dark:text-white">
      <app-dashboard></app-dashboard>
        <!-- Header -->
        <!-- <div class="fixed z-10 flex items-center justify-between w-full text-white h-14">
          <div class="flex items-center justify-start pl-3 bg-green-600 border-none md:justify-center w-14 md:w-64 h-14 dark:bg-gray-800">
            <img class="mr-2 overflow-hidden rounded-md w-7 h-7 md:w-10 md:h-10" src="assets/img/odc.jpeg" />
            <div>
                <span class="hidden md:block text-white-900">{{user.prenom}} {{user.nom}}</span>
                <span class="hidden text-white-900 md:block">{{user.login}}</span>
            </div>
          </div>
          <div class="flex items-center justify-between bg-green-600 h-14 dark:bg-gray-800 header-right">
            <div class="flex items-center w-full max-w-xl p-2 mr-4 bg-white border border-gray-200 rounded shadow-sm">
              <button class="outline-none focus:outline-none">
                <svg class="w-5 h-5 text-gray-600 cursor-pointer" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
              </button>
              <input type="search" name="" id="" placeholder="Search" class="w-full pl-3 text-sm text-black bg-transparent outline-none focus:outline-none" />
            </div>
            <ul class="flex items-center">
              <li>
                
              </li>
              <li>
                <div class="block w-px h-6 mx-3 bg-gray-400 dark:bg-gray-700"></div>
              </li>
              <li>
                <a href="" class="flex items-center mr-4 hover:text-blue-100" (click)="singUp()">
                  <span class="inline-flex mr-1">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"></path></svg>
                  </span>
                  
                  Logout
                </a>
              </li>
            </ul>
          </div>
        </div> -->
        <!-- ./Header -->
      
        <!-- Sidebar -->
        <!-- <div class="fixed left-0 z-10 flex flex-col h-full text-white transition-all duration-300 bg-green-600 border-none top-14 w-14 hover:w-64 md:w-64 dark:bg-gray-900 sidebar">
          <div class="flex flex-col justify-between flex-grow overflow-x-hidden overflow-y-auto">
            <ul class="flex flex-col py-4 space-y-1">
              <li class="hidden px-5 md:block">
                <div class="flex flex-row items-center h-8">
                  <div class="text-sm font-light tracking-wide text-gray-400 uppercase">Main</div>
                </div>
              </li>
              <li>
                <a href="" routerLink="/cours" class="relative flex flex-row items-center pr-6 border-l-4 border-transparent h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 hover:border-blue-500 dark:hover:border-gray-800">
                  <span class="inline-flex items-center justify-center ml-4">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                  </span>
                  <span class="ml-2 text-sm tracking-wide truncate">Dashboard</span>
                </a>
              </li>
              <li>
                <a href="" routerLink="/registration" class="relative flex flex-row items-center pr-6 border-l-4 border-transparent h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 hover:border-blue-500 dark:hover:border-gray-800">
                  <span class="inline-flex items-center justify-center ml-4">
                    <i class="fa-solid fa-users"></i>
                  </span>
                  <span class="ml-2 text-sm tracking-wide truncate">Registration</span>
                  <span class="hidden md:block px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-blue-500 bg-indigo-50 rounded-full">New</span>
                </a>
              </li>
              <li>
                <a href="" routerLink="/cours" class="relative flex flex-row items-center pr-6 border-l-4 border-transparent h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 hover:border-blue-500 dark:hover:border-gray-800">
                  <span class="inline-flex items-center justify-center ml-4">
                    <i class="fa-solid fa-book"></i>
                  </span>
                  <span class="ml-2 text-sm tracking-wide truncate">Courses</span>
                </a>
              </li>
              <li>
                <a href="" routerLink="/session" class="relative flex flex-row items-center pr-6 border-l-4 border-transparent h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 hover:border-blue-500 dark:hover:border-gray-800">
                  <span class="inline-flex items-center justify-center ml-4">
                    <i class="fa-solid fa-book"></i>
                  </span>
                  <span class="ml-2 text-sm tracking-wide truncate">Course Sessions</span>
                 
                </a>
              </li>
              
              <li>
                <a href="" routerLink="/classes" class="relative flex flex-row items-center pr-6 border-l-4 border-transparent h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 hover:border-blue-500 dark:hover:border-gray-800">
                  <span class="inline-flex items-center justify-center ml-4">
                  <i class="fa-solid fa-school"></i>
                  </span>
                  <span class="ml-2 text-sm tracking-wide truncate">Class</span>
                </a>
              </li>
              
              <li>
                <a href="" routerLink="/notifications" class="relative flex flex-row items-center pr-6 border-l-4 border-transparent h-11 focus:outline-none hover:bg-green-800 dark:hover:bg-gray-600 text-white-600 hover:text-white-800 hover:border-blue-500 dark:hover:border-gray-800">
                  <span class="inline-flex items-center justify-center ml-4">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" ><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"></path></svg>
                  </span>
                  <span  class="ml-2 text-sm tracking-wide truncate">Notifications</span>
                  <span class="hidden md:block px-2 py-0.5 ml-auto text-xs font-medium tracking-wide text-red-500 bg-red-50 rounded-full">{{notifyLength}}</span>
                </a>
              </li>
            
              
            </ul>
            <p class="hidden px-5 py-3 text-xs text-center mb-14 md:block">Copyright @2023</p>
          </div>
        </div> -->
      
        <div class="h-full mb-10 ml-14 mt-14 md:ml-64">
            <div class="relative flex-col items-center justify-center p-6">
                <!-- <div class="items-center">
                    <h1 class="items-center justify-center pt-6 text-4xl font-bold text-gray-700">Planning Course</h1>
                </div> -->
                <div class="flex items-center justify-center gap-3">
                  <div class="">
                    <a href="" routerLink="/add-cours">
                    <button type="button" class="focus:outline-none text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2  dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Add</button>
                  </a>
                  </div>                  
                  <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 w-64">
                      <option value="class">class</option>
                      <option value="module">module</option>
                      <option value="hours">hours</option>
                      <option value="state">state</option>
                  </select>
                    <input type="text" [(ngModel)]="searchText" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Dev Web" required>
                    <button type="button" (click)="performSearch()"  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 mt-1.5">Search</button>
                </div>
                <div class="absolute right-10 top-5">
                  <div>
                    <span class="text-blue-700"><i class="fa-solid fa-calendar-days"></i> </span>
                    <span class="p-2 font-bold text-red-500">2022-2023</span>
                  </div>
                  <div>
                    <span class="font-bold text-blue-700">Semestre: </span>
                    <span class="p-2 font-bold text-red-500">1</span>
                  </div>
                </div>
                
              </div>
              
              <div class="p-10 ml-10" data-modal-target="authentication-modal"
                                      data-modal-toggle="authentication-modal">
                <div class="grid grid-cols-3 gap-6 content-evenly">
                    <div class="column" *ngFor="let cour of cours">
                      <!-- <div class="column" *ngFor="let cour of cours | filter: selectedModule: selectedHours: selectedClass"> -->
                        <div class="flex flex-col items-center max-w-md p-6 border border-gray-200 rounded-lg shadow bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
                            <h5 class="font-bold tracking-tight text-center text-blue-600 dark:text-white">{{cour.prof_module.prof}}</h5>
                            <p class="text-2xl font-bold text-gray-700 dark:text-gray-400">{{cour.prof_module.module}}</p>
                            <p class="font-bold text-red-600 dark:text-gray-400">{{cour.annee_classe.classe.libelle}}</p>
                            <p class="font-bold text-green-600 dark:text-gray-400">{{cour.heure_globale}}H</p>
                            <!-- <p class="font-bold text-green-600 dark:text-gray-400">État: {{ cour.etat === 0 ? 'En cours' : 'Terminé' }}</p -->
                            <div *ngIf="this.user.role==='RP'" class="flex items-center justify-between w-full pb-1">
                                <p class="justify-start"><button type="button"><i class="fa-solid fa-circle-info"></i></button></p>
                                <p class="pt-2 text-2xl text-blue-800" ><button
                                    data-modal-target="authentication-modal"
                                    data-modal-toggle="authentication-modal"
                                    (click)="onClickCourse(cour.id)"
                                    type="button"
                                    ><i class="fa-solid fa-plus" ></i></button></p>
                                <div class="flex justify-end">
                                    <p class="text-red-600"><button type="button"><i class="fa-solid fa-trash"></i></button></p>
                                    <p class="ml-2 text-yellow-400"><button type="button"><i class="fa-solid fa-pen-to-square"></i></button></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>              
          
        </div>

      </div>
    </div>    
    




<!-- Main modal -->
<div id="authentication-modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="authentication-modal">
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-2xl font-medium text-center text-gray-900 text-blue-600 dark:text-white">Planning Session</h3>
                <form class="space-y-6" action="" [formGroup]="formGroup" (ngSubmit)="onSubmitSession()">
                  <div class="flex flex-wrap -mx-3">
                    <div class="w-full px-3 sm:w-1/2">
                      <div class="mb-5">
                        <label
                          for="fName"
                          class="mb-3 block text-base font-medium text-[#07074D]"
                        >
                          Heure_debut
                        </label>
                        <input
                          type="time"
                          formControlName="h_debut"
                          id="fName"
                          placeholder="8h"
                          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                        />
                      </div>
                    </div>
                    <div class="w-full px-3 sm:w-1/2">
                      <div class="mb-5">
                        <label
                          for="lName"
                          class="mb-3 block text-base font-medium text-[#07074D]"
                        >
                          Heure_fin
                        </label>
                        <input
                          type="time"
                          formControlName="h_fin"
                          id="lName"
                          placeholder="9h"
                          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                        />
                        <div *ngIf="this.formGroup.value.h_debut>=this.formGroup.value.h_fin" class="text-red-600">l'heure de fin doit superieur à celle de début</div>
                      </div>
                    </div>
                  </div>
                  <div class="flex justify-between mb-5">
  
                        <div>
                          <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Type Session</label>
                          <select id="countries" formControlName="type" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500  appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
                            <option selected>Choisir un type</option>
                            <option value="presentiel">presentiel</option>
                            <option value="online">online</option>
                          </select>
                        </div>
                        
                        <div [hidden]="formGroup.value.type !== 'presentiel'">
                          <label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Salle</label>
                          <select id="countries"  formControlName="salle" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block  p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500  appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md">
                            <option selected>Choisir une salle</option>
                            <option *ngFor="let sal of salles" value="{{sal.id}}">{{sal.libelle}}</option>
                          </select>
                        </div>
  
                  </div>
            
                  <div class="flex flex-wrap -mx-3">
                    <div class="w-full px-3 sm:w-1/2">
                      <div class="mb-5">
                        <label
                          for="date"
                          class="mb-3 block text-base font-medium text-[#07074D]"
                        >
                          Date Session
                        </label>
                        <input
                          type="date"
                          formControlName="date"
                          id="date"
                          class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                        />
                      </div>
                    </div>
                  </div>
  
                  <div class="items-center justify-center ">
                    <button
                    [disabled]="this.formGroup.invalid"
                      type="submit"
                      class="px-8 py-3 text-base font-semibold text-center text-white bg-blue-600 rounded-md outline-none hover:shadow-form">
                      Submit
                    </button>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div> 

